registry=https://registry.npmjs.org/
@fzo:registry=https://fourzeroone-495963541969.d.codeartifact.eu-central-1.amazonaws.com/npm/jslib-private/
@tes:registry=https://fourzeroone-495963541969.d.codeartifact.eu-central-1.amazonaws.com/npm/jslib-private/
@jep:registry=https://fourzeroone-495963541969.d.codeartifact.eu-central-1.amazonaws.com/npm/jslib-private/
@malin:registry=https://fourzeroone-495963541969.d.codeartifact.eu-central-1.amazonaws.com/npm/jslib-private/
