service: sls-frontend-${self:custom.tes.customerName}-${self:custom.tes.projectName}

plugins:
  - ./test-plugin
  - '@tes/serverless-default'
  - serverless-s3-deploy
  - serverless-cloudfront-invalidate
  - serverless-plugin-lambda-insights

custom:
  tes:
    type: frontend
    projectName: PROJECT_NAME_REPLACE_ME
    customerCode: 999999
    customerName: CUSTOMER_NAME_REPLACEME
    prod:
      alias: live-${self:custom.tes.projectName}-${self:custom.tes.customerCode}.4pd3v.com
      certificate: arn:aws:acm:us-east-1:495963541969:certificate/5976467c-2761-4293-a0df-ed47f8c33b3b

provider:
  name: aws
  region: eu-central-1
  runtime: nodejs20.x

resources:
  Resources:
    # DONT delete this section!
    # Add any additional resources here
    # Example:
    # MyS3Bucket:
    #   Type: AWS::S3::Bucket
    #   Properties:
    #     BucketName: my-s3-bucket-${self:custom.tes.projectName}
